.App {
  text-align: center;
}


.nav-selected {
  padding: 5px;
  color: white;
  font-weight: bold;
  margin-right: 5px;
  font-size: 1.1em;
  cursor: pointer;
}

.nav-unselected {
  padding: 5px;
  margin-right: 5px;
  color: grey;
  font-size: 1.1em;
  cursor: pointer;
}

.nav {
  background-color: #2c3e50;
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Francois One";
}

.main h1 {
  font-family: "Francois One";
  margin-top: 0;
  font-size: 35px;
  margin-bottom: 20px;
  padding: 5px;
  color: #2c3e50;
}
.New-Recipe-Form {
  display: grid !important;
}
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.New-Recipe-Form input[type="text"] {
  font-family: sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.text-form{
  display:flexbox;
  font-family: sans-serif;
  position: inherit;
  padding:5%
}
.title {
  font-family:'Times New Roman', Times, serif
}
.New-Recipe-Form textarea {
  font-family: 'Courier New', Courier, monospace;
  width: 80%;
  height: 150px;
  font-size: 12px;
  margin-top: 2px;
  border-radius: 4px;
}

.container {
  width: 40%;
}

.navbuttons :hover {
  cursor: pointer;
  width: 200px;
  height: 30px;
  border-radius: 4px;
  border-width: 0px;
  font-family: "Francois One";
  color: black
}

.btn-submit{
  width: 100%;
  background-color: #829eba;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.success{
  font-family: "Francois One";
  justify-content: center;
  font-size: large;
} 
.image{
  align-items: center;
  float: left;
  width:  250x;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipe-name{
  color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(105, 123, 168);
  align-items: center;
  font-size: large;
}